
<%- include('./partials/head') %> 

  <div>
    <h1>index</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis velit necessitatibus accusamus nesciunt labore. Asperiores, nulla enim iste pariatur quas, inventore quaerat fuga placeat molestiae, eius sit quibusdam illum aliquid.</p>
  </div>
</body>
</html>